.infos {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;


  span {
    font-size: 0.875rem;
    color: var(--info);
    display: flex;
    align-items: center;
  
    svg {
      width: 20px;
      height: 20px;
      margin-right: 0.5rem;
    }

    & + span {
      margin-left: 1.5rem;
    }
  }
}