.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.postContent {
  max-width: 720px;
  margin: 2rem auto 0;
 
  a {
    display: block;
    cursor: pointer;

    & + a {
      margin-top: 3rem;
    }

    &:hover strong {
      color: var(--highlight);
    }

    strong {
      font-size: 1.75rem;
      line-height: 2.125rem;
      font-weight: 700;
      color: var(--heading);
      transition: color 0.2s;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: var(--body);
      margin-top: 0.5rem;
    }
  }

  button {
    &.buttonMorePost {
      border: none;
      background: transparent;
      color: var(--highlight);
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      margin: 4rem 0 5.5rem;
      display: block;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
